@charset "UTF-8";

/* Paleta de cores
#ff8700
#282929
#f3f3f3
#c89455
 */

 *{
    font-family: "Source Sans 3", sans-serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
    }

    body,html{
        height: 100vh;
        width: 100vw;
        background-color:white;
    }

    main,footer {
        min-width: 300px ;
        max-width: 900px;
        margin: auto;
        border: 1px solid rgba(0, 0, 0, 0.15);
    }
    
    div#imagem{
        background-image: url(../imagens/0872F39C-A319-4531-AE86-F54394E6D245\ Grande.png) ;
       
       background-position:top center;
       background-repeat: no-repeat;
    }

    div#imagem > h1{
        color: white;
        font-size: 2em; 
        text-align: center;   
    }

    div#imagem > p {
        color: white;
        font-size: 1.2em;
        text-align: center;
        line-height: 3em;
        padding:0px 150px;
    }
    
    div#imagem > p > a {
       color: black;
       background-color: #ff8700;
       text-decoration: none;
       padding: 3px;
       border-radius: 5px; 
    }

    div#ofertas {
        background-color:#282929 ;
        color: white;
        text-align: center;
        line-height: 3em;
        font-size: 1.2em;
    }

    div#ofertas > p > a {
        color: black;
        background-color: #ff8700;
        text-decoration: none;
        padding: 3px;
        border-radius: 5px; 
    }
    
    div#cakes {
        background-color:white;
    }
    
    div#cakes > p{
        color:black;
        text-align: center;
        font-size: 1.2em;
        padding-top: 20px;
    }
    
    div.bolo {
        background-color: #c3caca6c;
        width: 300px;
        height: 330px;
        border-radius: 10px;
        text-align: center;
        line-height: 2.0em;
        margin-top: 20px;
        margin-left: 80px;
        display: inline-block;
    }
    
    div.bolo > img {
        width: 200px;
        height: 200px;
        border-radius: 45%;
        margin-left: 15px;
        margin-top: 10px;
    }
    
    div.bolo > p > a {
        color: black;
        background-color: #ff8700;
        text-decoration: none;
        padding: 3px;
        border-radius: 5px;
    }

    div.tortadoce {
        background-color: #c3caca6c;
        width: 300px;
        height: 330px;
        border-radius: 10px;
        text-align: center;
        line-height: 2.0em;
        margin-top: 20px;
        margin-left: 80px;
        display: inline-block
    }

    div.tortadoce > img {
        width: 200px;
        height: 200px;
        border-radius: 45%;
        margin-left: 15px;
        margin-top: 10px;
    }
    
    div.tortadoce > p > a {
        color: black;
        background-color: #ff8700;
        text-decoration: none;
        padding: 3px;
        border-radius: 5px;
    }

    div.tortasalgada {
        background-color: #c3caca6c;
        width: 300px;
        height: 330px;
        border-radius: 10px;
        text-align: center;
        line-height: 2.0em;
        margin-top: 20px;
        margin-left: 80px;
        display: inline-block;
    }
    
    div.tortasalgada > img {
        width: 200px;
        height: 200px;
        border-radius: 45%;
        margin-left: 15px;
        margin-top: 10px;
    }
    div.tortasalgada > p > a {
        color: black;
        background-color: #ff8700;
        text-decoration: none;
        padding: 3px;
        border-radius: 5px;
    }
    div.bolorecheado {
        background-color: #c3caca6c;
        width: 300px;
        height: 330px;
        border-radius: 10px;
        text-align: center;
        line-height: 2.0em;
        margin-top: 20px;
        margin-left: 80px;
        display: inline-block;
    }
    div.bolorecheado > img {
        width: 200px;
        height: 200px;
        border-radius: 45%;
        margin-left: 15px;
        margin-top: 10px;
    } 
    div.bolorecheado > p > a {
        color: black;
        background-color: #ff8700;
        text-decoration: none;
        padding: 3px;
        border-radius: 5px
    }
    main > a {
        color: black;
        background-color: #ff8700;
        text-decoration: none;
        padding: 3px;
        border-radius: 5px;
        display: block;
        margin: auto;
        width: 80px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    footer > div {
        background-color: #c89455;
        color: white;
        font-size: 1em;
        line-height: 1.5em;
        text-align: center;
    }
    footer h3 {
        font-size: 2em;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    footer > div > a > img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 20px;
    }
    footer > div > p.rodape {
        margin-top: 30px;
        padding-bottom: 30px;
        text-decoration:overline;
    }